extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        //- Replace with your name
        h1 Miles Felton Gerber

        //- Feel free to personalize the title below
        p Full Stack JavaScript Developer


        .about-bio

          //- Replace the boilerplate below with your best elevator pitch
          p I'm super eager to begin my career in the world of tech. So far all of the people I've met through this pursuit and my studies have been wonderful and I want to find a team and a tech family to join and take further leaps with my learning.


      .skills-contact-box.box
        h6 Skills

        //- Replace skills below with your own skills — at this point, you should be able to list as many as ten skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Marketing and Management
          li Yoga

        h6 Contact Info

        //- Replace with your own contact info - feel free to use fake information if you prefer
        ul
          li +44-7946420707
          li mwfelton03@gmail.com

        //- Add URLs to the hrefs below to link to your social media accounts - feel free to use non-personal links to social media home pages if you prefer
        a.btn-link(href='https://www.linkedin.com/in/miles-gerber-a111871b2/') LinkedIn
        a.btn-link(href='https://github.com/mwfelton') GitHub
        a.btn-link(href='https://www.instagram.com/miles.therapy/') Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back