extends layout.pug

block content

  article.portfolio-intro

    img.img(src='/static/images/moon-logo.png', alt=`moon logo`)

    h1 The Journey so far..
    p Here I'm presenting a collection of projects I've completed as part of my Treehouse Techdegree. I've some fun with these initial challenges and my tech skills are growing at everystep.

    
  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects
        .cell
          
          a(href= `/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls.main}`, alt=`${project.image_urls.mainalt}`)
            h5= project.project_name

      



