<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Portfolio Site
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/normalize.css')
    link(rel='stylesheet', href='/static/css/styles.css')

  body
    
    .container
        img.img404(src='/static/images/404-page-2.jpg' alt='Snow' style='width:100%;')
        h1.maintitle This page is emptiness itself...

        .container
            h3.subheading 404 Page not found

    .back
      a(href='/')
        span &larr; Home

  script(src='/static/js/script.js')